@{
  Layout = "_Layout";
}
<div class="container">
  <h1 class="jumbotron">Pierre's French Bakery</h1>
  <hr />
  <div class="box">

  </div>
  <div class="box">
    
  </div>

  <p>@Html.ActionLink("Create Account", "Index", "Account")</p><br>
  <p>@Html.ActionLink("Browse Baked Goods", "Index", "Treats")</p><br>
  <p>@Html.ActionLink("Browse Flavor Profiles", "Index", "Flavors")</p><br>
</div>